html,
body{
    margin:0;
    overflow:hidden;
    background:black;
    font-family:Arial, sans-serif;
}

canvas{
    display:block;
}

#crosshair{
    position:fixed;
    left:50%;
    top:50%;
    width:6px;
    height:6px;
    background:white;
    transform:translate(-50%,-50%);
    z-index:100;
}

#interaction{
    position:fixed;
    bottom:80px;
    left:50%;
    transform:translateX(-50%);
    color:white;
    display:none;
    z-index:100;
}

#message{
    position:fixed;
    top:10%;
    left:50%;
    transform:translateX(-50%);
    color:white;
    font-size:28px;
    z-index:100;
}

#inventory{
    position:fixed;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    display:none;
    gap:8px;
    z-index:100;
}

.slot{
    width:50px;
    height:50px;
    border:2px solid white;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
}

.active{
    border-color:gold;
}

#mobileControls{
    position:fixed;
    bottom:20px;
    left:20px;
    z-index:100;
}

#mobileControls button{
    width:60px;
    height:60px;
    margin:4px;
    opacity:.6;
}
